<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rufflez.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@drawable/chef"
        android:label="@string/app_name"
        android:theme="@style/MyMaterialTheme">
        <activity
            android:name=".MainActivity"
            android:label="Cook Book"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".SplashScreen"
            android:theme="@style/MyMaterialTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DetailFoodActivity"
            android:label="@string/title_activity_detail_food"
            android:theme="@style/MyMaterialTheme" />
        <activity android:name=".MoreActivity"></activity>
    </application>

</manifest>